{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry" }]{{#is framework 'react'}},
    "@babel/preset-react"{{/is}}
  ],
  "plugins": [
    {{#is framework 'react'}}["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]{{/is}}
  ],
  "env": {
    {{#is framework 'react'}}
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }{{/is}}
  }
}
